/* -----------------------------------
Template:  Jobhere

NOTE: This is Slider style file. All Slider related style included in this file.

--------------------------------------*/
.search-job-area {
  padding: 160px 0 160px;
}
.form-container {
  color: #555454;
  font-family: "montserratregular";
  font-size: 12px;
  position: relative;
  z-index: 3;
}
.box-select {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 9;
}
.select {
    margin-right: 10px;
    position: relative;
}
.select:not(:last-child) {
  width: 27%;
}
.select.large {width: 260px;}
.select.small {width: 190px;}
.select.medium {width: 200px;}

.select select {
  -moz-appearance: none;
  background: #ffffff url("images/icons/arrow.png") no-repeat scroll 92% 50%;
  border: medium none;
  color: #555454;
  cursor: pointer;
  font-size: 13px;
  height: 60px;
  padding: 0 16px;
  width: 100%;
}
.select button {
  background: #258ccc none repeat scroll 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  padding: 0 60px;
}
.select .nice-select {
  border: medium none;
  border-radius: 0;
  color: #ababab;
  height: 60px;
  line-height: 60px;
  width: 100%;
}
.nice-select::after {
  right: 16px;
}
.nice-select .list {
  width: 100%;
}
.job-search-content > h4 {
  color: #ffff;
  font-family: montserratsemi_bold;
  font-size: 30px;
}
.job-search-content h2 {
  color: #fff;
  font-family: montserratbold;
  font-size: 70px;
  margin-bottom: 33px;
  margin-top: 14px;
  text-transform: uppercase;
}

.preview-2 .nivo-directionNav {display: none;}
.slider-area, .background-area {position: relative}
.background-area {overflow: hidden}
.slider-area img, .background-area img {width: 100%}
.slider-area:before, .background-area:before {
    background: rgba(45, 62, 80, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
.background-area.no-animation:before {-webkit-animation: none;animation: none}
.slider-area.no-overlay:before, .background-area.no-overlay:before, .preview-2 .nivo-controlNav {display: none}
.nivo-caption {z-index: 9;}
.background-area, .banner-content, .banner-content .container, .banner-content .row, .banner-content .col-md-12, .banner-content .text-content-wrapper, .banner-content .text-content {
    height: 100%;
    margin: auto;
}
.banner-content .text-content-wrapper {
    display: table;
}
.banner-content .text-content-wrapper.m-0 {
    margin-right: 0px;
}
.banner-content .text-content {
    display: table-cell;
    vertical-align: middle;
}
h1.title1 {
  font-family: "montserratextrabold";
  font-size: 60px;
  text-transform: capitalize;
}
h1.title1.text-medium {
    font-size: 60px;
    line-height: 65px;
}
.title2 {
  font-family: montserratregular;
  font-size: 24px;
}
p.sub-title {
    font-size: 18px;
    line-height: 30px;
    padding: 0;
}
.banner-readmore {
    clear: both;
    display: inline-block;
    line-height: 50px;
}
.button.slider-btn {
  background: #258ccc none repeat scroll 0 0;
  border-radius: 0;
  font-family: "montserratsemi_bold";
  font-size: 12px;
  padding: 17px 39px;
}
.button.slider-btn:after{
  background:rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  z-index: 1;
}
.background-area .button-default {display: inline}
.banner-content.static-text {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 9;
}
.banner-content .text-content-wrapper.full-width {
	float: none;
	margin: auto;
	position: relative;
	z-index: 9;
}